<div class="container mt-4">
  <h2 class="text-center">Editar Pokémon</h2>
  <form (ngSubmit)="salvarEdicao()">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.nome" name="nome" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.tipo" name="tipo" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Imagem (URL)</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.imagemUrl" name="imagemUrl" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Salvar</button>
  </form>
</div>
