<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let pokemon of pokemons">
      <div class="card" [ngClass]="coresCards(pokemon.tipo)">
        <div class="row g-0">
          <div class="col-4">
            <img
              [src]="pokemon.imagemUrl"
              class="imagem-pokemon img-fluid rounded-circle border border-black"
              alt="{{ pokemon.nome }}"
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h1 class="card-title">{{ pokemon.nome }}</h1>
              <h5 class="card-text">Tipo: {{ pokemon.tipo }}</h5>
              <p class="card-text">Nível: {{ pokemon.nivel }}</p>

              <div class="d-flex justify-content-between">
                <button
                  class="botao-quadrado btn btn-danger btn-sm"
                >
                  <i class="bi bi-trash"></i>
                </button>
                <button
                  class="botao-quadrado btn btn-primary btn-sm"
                  [routerLink]="['/pokemons/edit', pokemon.id]"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </div>

              <div class="mt-2 d-flex justify-content-center">
                <button
                  class="botao-quadrado btn btn-success btn-sm me-2"
                  [disabled]="pokemon.nivel >= 100"
                >
                  <i class="bi bi-arrow-up"></i>
                </button>
                <button
                  class="botao-quadrado btn btn-warning btn-sm"
                >
                  <i class="bi bi-arrow-down"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary w-25 mt-3 mb-4"
  >
    Cadastrar Novo Pokémon
  </button>
</div>
