<div class="container mt-4">
  <h2 class="text-center">Cadastrar Pokémon</h2>
  <form (ngSubmit)="capturarPokemon()">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.nome" name="nome" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.tipo" name="tipo" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Nível</label>
      <input type="number" class="form-control" [(ngModel)]="pokemon.nivel" name="nivel" min="1" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Imagem (URL)</label>
      <input type="text" class="form-control" [(ngModel)]="pokemon.imagemUrl" name="imageUrl" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
  </form>
</div>
